
.abc{
    background-color: rgb(65, 60, 60);

}
.abcde{
    /* border: 2px solid red; */
    padding-top: 20px;
    padding-left: 20px;
   
    font-size: 15px;

}
.abcde h4{
    color: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
}
.abcde a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 30px;
   
}
.abcde p{
    color: #fff;
}
.last1{
    height: 200px;
}
.links1{
    padding-top: 40px;

}
